/vendor/
/node_modules/
/var/
/dist/
/.cache/
/.phpunit.cache/
/.phpunit.result.cache
/.idea/
/.vscode/
/.env
/.env.*
!/.env.example
*.log
*.sql
*.sqlite
*.sqlite3
*.dump
*.bak
*.swp
*.tmp
*.tgz
*.tar.gz
*.zip
/.gh_token
/coverage/
/composer.lock
